<div class="card">
<link rel="stylesheet" href="{{url_for('static',filename='styles.scss')}}">


<div class="topnav">
	<a href="/">Editor</a>
   <a href="data">Levels</a>
   <a href="uploadlvl">Upload Level</a>

</div>

    <header>
       <h1>GD Editor</h1>
       <div>
 <button class="button-as-link" onclick="clearCanvas()">Clear</button>
          <button class="primary-button" onclick="exportImage()">Download as file</button>
         

       </div>
    </header>
    <div class="card_body">
       <aside>
          <label>Objects</label>
          <div class="tileset-container">
            <img src="../static/images/gdTextures.png" id="tileset-source">
             <div class="tileset-container_selection"></div>
          </div>
       </aside>
       <div class="card_right-column">
          <canvas width="1536" height="256">
          </canvas>
          <p class="instructions">
             Shift+Click to Delete.
          </p>

       </div>
    </div>
 </div>
<body
><script type="text/javascript" src="{{url_for('static',filename='editor.js')}}"></script>
</body>