<div class="card">
    <link rel="stylesheet" href="{{url_for('static',filename='styles.scss')}}">

    <div class="topnav">
        <a href="/">Editor</a>
       <a href="data">Levels</a>
       <a href="uploadlvl">Upload Level</a>
    
    </div>

    <table>
        <tr>
            <th>Gamer</th>
            <th>Level</th>
            <th>Download</th>>
        </tr>
        {% for item in results %}
        <tr>
            <td>{{ item[1] }}</td>
            <td>{{ item[2] }}</td>
            <td>
            <form action="{{ url_for('downloadlevel',download_id = item[0])}} ">
                <input type="submit" value="Download">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    </body>